<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Introduction to Pandas in Python


Estimated time needed: **15** minutes
    

## Objectives

After completing this lab you will be able to:

* Use Pandas to access and view data

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">About the Dataset</a></li>
        <li><a href="pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="data">Viewing Data and Accessing Data</a></li>
        <li><a href="quiz">Quiz on DataFrame</a></li>
    </ul>
  
</div>

<hr>

<h2 id="dataset">About the Dataset</h2>

The table has one row for each album and several columns.

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [2]:
# Dependency needed to install file 

!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in d:\jupyter\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in d:\jupyter\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in d:\jupyter\lib\site-packages (from openpyxl) (1.1.0)

In [4]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [14]:
# Read data from CSV file

csv_path ="c:/users/kunal/onedrive/desktop/heart.csv"
df=pd.read_csv(csv_path)

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [18]:
# Print first five rows of the dataframe

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

 We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [29]:
# Read data from Excel File and print the first five rows

xlsx_path = "c:/users/kunal/onedrive/desktop/jfk_weather_cleaned.xlsx"
df = pd.read_excel(xlsx_path)
df.head()

ValueError: Worksheet index 0 is invalid, 0 worksheets found

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [44]:
# Access to the column Length
csv_path="C:/Users/Kunal/Downloads/Data Science/datasets/TS_songs/taylor_swift_spotify.csv"
df=pd.read_csv(csv_path)

#length=df[['duration_ms']]
#length.head()
df.head()

,Unnamed: 0,name,album,release_date,track_number,id,uri,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,duration_ms
0,0,Lavender Haze,Midnights (3am Edition),2022-10-22,1,4g2c7NoTWAOSYDy44l9nub,spotify:track:4g2c7NoTWAOSYDy44l9nub,0.2040,0.735,0.444,0.001200,0.1700,-10.519,0.0684,97.038,0.0984,74,202395
1,1,Maroon,Midnights (3am Edition),2022-10-22,2,199E1RRrVmVTQqBXih5qRC,spotify:track:199E1RRrVmVTQqBXih5qRC,0.0593,0.658,0.378,0.000000,0.0976,-8.300,0.0379,108.034,0.0382,74,218270
2,2,Anti-Hero,Midnights (3am Edition),2022-10-22,3,02Zkkf2zMkwRGQjZ7T4p8f,spotify:track:02Zkkf2zMkwRGQjZ7T4p8f,0.1330,0.638,0.634,0.000001,0.1520,-6.582,0.0457,96.953,0.5190,75,200690
3,3,Snow On The Beach (feat. Lana Del Rey),Midnights (3am Edition),2022-10-22,4,6ADDIJxxqzM9LMpm78yzQG,spotify:track:6ADDIJxxqzM9LMpm78yzQG,0.7350,0.659,0.323,0.003210,0.1160,-13.425,0.0436,110.007,0.1540,72,256124
4,4,"You're On Your Own, Kid",Midnights (3am Edition),2022-10-22,5,7gVWKBcfIW93YxNBi3ApIE,spotify:track:7gVWKBcfIW93YxNBi3ApIE,0.4160,0.694,0.380,0.000008,0.1260,-10.307,0.0614,120.044,0.3760,74,194206

 The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgOne.png" width="750">

<hr>

<h2 id="data">Viewing Data and Accessing Data</h2>

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [42]:
# Get the column as a series

x = df['duration_ms']
x

0       202395
1       218270
2       200690
3       256124
4       194206
         ...
1260    216226
1261    204306
1262    223386
1263    206480
1264    227920
Name: duration_ms, Length: 1265, dtype: int64

You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:

In [47]:
# Get the column as a dataframe

x = df[['name']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [49]:
# Access to multiple columns

y = df[['name','album','popularity']]
y

,name,album,popularity
0,Lavender Haze,Midnights (3am Edition),74
1,Maroon,Midnights (3am Edition),74
2,Anti-Hero,Midnights (3am Edition),75
3,Snow On The Beach (feat. Lana Del Rey),Midnights (3am Edition),72
4,"You're On Your Own, Kid",Midnights (3am Edition),74
...,...,...,...
1260,Mary's Song (Oh My My My) - Instrumental w/ BG...,Taylor Swift Karaoke,7
1261,Our Song - Instrumental w/ BG vocals,Taylor Swift Karaoke,10
1262,I'm Only Me When I'm With You - Instrumental w...,Taylor Swift Karaoke,7
1263,Invisible - Instrumental w/ BG vocals,Taylor Swift Karaoke,7
1264,A Perfectly Good Heart - Instrumental w/ BG vo...,Taylor Swift Karaoke,7

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgTwo.png" width="1100">

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [55]:
# Access the value on the first row and the first column

df.iloc[0,0]

0

You can access the 2nd row and the 1st column as follows:

In [56]:
# Access the value on the second row and the first column

df.iloc[1,0]

1

You can access the 1st row and the 3rd column as follows:

In [57]:
# Access the value on the first row and the third column

df.iloc[1,2]

'Midnights (3am Edition)'

In [58]:
# Access the value on the second row and the third column
df.iloc[1,2]

'Midnights (3am Edition)'

This is shown in the following image

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/2_loc.PNG" width="750">

You can access the column using the name as well, the following are the same as above:

In [59]:
# Access the column using the name

df.loc[0, 'name']

'Lavender Haze'

In [60]:
# Access the column using the name

df.loc[1, 'name']

'Maroon'

In [61]:
# Access the column using the name

df.loc[0, 'name']

'Lavender Haze'

In [63]:
# Access the column using the name

df.loc[1, 'release_date']

'2022-10-22'

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/1_loc.png" width="750">

You can perform slicing using both the index and the name of the column:

In [64]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

   Unnamed: 0           name                    album
0           0  Lavender Haze  Midnights (3am Edition)
1           1         Maroon  Midnights (3am Edition)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/4_loc.png" width="750">

In [67]:
# Slicing the dataframe using name

df.loc[0:2, 'name':'release_date']

            name                    album release_date
0  Lavender Haze  Midnights (3am Edition)   2022-10-22
1         Maroon  Midnights (3am Edition)   2022-10-22
2      Anti-Hero  Midnights (3am Edition)   2022-10-22

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/3_loc.png" width="750">

<hr>

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [69]:
# Write your code below and press Shift+Enter to execute
q=df[['popularity']]
q

      popularity
0             74
1             74
2             75
3             72
4             74
...          ...
1260           7
1261          10
1262           7
1263           7
1264           7

[1265 rows x 1 columns]

<details><summary>Click here for the solution</summary>

```python
q = df[['Rating']]
q
    
```

</details>

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [71]:
# Write your code below and press Shift+Enter to execute
q=df[['release_date','name']]
q

     release_date                                               name
0      2022-10-22                                      Lavender Haze
1      2022-10-22                                             Maroon
2      2022-10-22                                          Anti-Hero
3      2022-10-22             Snow On The Beach (feat. Lana Del Rey)
4      2022-10-22                            You're On Your Own, Kid
...           ...                                                ...
1260   2006-10-24  Mary's Song (Oh My My My) - Instrumental w/ BG...
1261   2006-10-24               Our Song - Instrumental w/ BG vocals
1262   2006-10-24  I'm Only Me When I'm With You - Instrumental w...
1263   2006-10-24              Invisible - Instrumental w/ BG vocals
1264   2006-10-24  A Perfectly Good Heart - Instrumental w/ BG vo...

[1265 rows x 2 columns]

<details><summary>Click here for the solution</summary>

```python
q = df[['Released', 'Artist']]
q
    
```

</details>

Access the 2nd row and the 3rd column of <code>df</code>:

In [73]:
# Write your code below and press Shift+Enter to execute
#df.iloc[2:3,3:4]
df.iloc[1,2]

'Midnights (3am Edition)'

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]
    
```

</details>

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [79]:
#index=df.set_index('name')
new_index=['a','b','c','d','e','f','g','h']

df_new=df
df_new.index= new_index

#df_new=pd.set_index('new_index')
df_new.loc['a','release_date']

ValueError: Length mismatch: Expected axis has 1265 elements, new values have 8 elements

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>

## Authors:  

 [Joseph Santarcangelo](https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) 
 
Joseph Santarcangelo has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.



## Change Log


|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2022-01-10  | 2.1  | Malika  | Removed the readme for GitShare|
| 2020-08-26  | 2.0  | Lavanya | Moved lab to course repo in GitLab |
| 2020-11-24  | 3.0  | Nayef   |  Added new images  |
|   |   |   |   |



<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>